.banner{
    background-image: url(./images/banner.jpg);
}
.bannerHeading {
    color: blue;
}
.bannerBox{
    position: relative;
}
.bannerText{
    position: absolute;
    top: 100px;
    margin-left: 16.7%;
    font-size: 35px;
}
.mainBannerImage{
    height: auto;
    width: 100%;
}
.container{
    margin: 0px 16.7% 0px 16.7%;
}

.btnTop{
    display: flex;
    justify-content: end;
    gap: 10px;
}

/* Style for the buttons (optional) */
.btnTop button {
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}
/* Styling for the "Patient Portal" button */
.PatientPortal button {
    background-color: grey;
    border: none;
    border-radius: 5px; /* Add rounded corners */
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

/* Styling for the "Dentist Referral" button */
.DentistReferal button {
    background-color: rgb(79, 161, 234) ;
    border: none;
    border-radius: 5px; /* Add rounded corners */
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}
.header{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.Number{
    text-align: right;
}
.headerTitle h1{
    color: rgb(79, 161, 234);
    font-size: 45px;
    margin: 10px 0px 0px 0px;
}

.headerTitle h3{
    color: rgb(79, 161, 234);
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}
.navBg{
    background-color: rgb(79, 161, 234);

}
.nav{
    display: grid;
    grid-template-columns: repeat(6,auto);
    margin: 0px 10% 0px 10%;
}
.nav li{
    padding: 10px;
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    color: white;
    text-align: center;
    list-style: none;
    border-right: 2px solid white;
}

.bannerHeading1{
    color:rgb(79, 161, 234) ;
    font-weight: lighter;
}
.bannerHeading2{
    font-weight: lighter;
}

.menuOptionsBG{
    background-color:rgb(28, 138, 236) ;
}
.menuOptionsBG .row{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    text-align: center;
    margin: 0 16.7% 0 16.7%;
    min-height: 90px;
    padding: 10px 0 0 0;
}
.menuOptionsBG .col{
    background-color: white;
    clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
    padding: 15px 0px 15px 0px;
}
.menuOptionsBG .col h4{
    margin: 0px;
    
}
.ServicesBG {
    background-image: url("./images/Services\ Background.jpg") ;
}
.Services .row{
    display: grid;
    grid-template-columns: repeat(3,  400px);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 16.7% 0 16.7%;
    min-height: 90px;
    padding: 10px 0 0 0;
    min-height: 500px;
    
}

.Services .row .col{
    background-color: white;
    border: 2px solid rgb(229, 232, 234);
    margin: 0 20px 0 20px;
    padding: 20px;
    height: 400px;
    
}
.pClass{
    min-height: 305px;
    margin: 0px;
}

input{
    background-color: rgb(245, 245, 245);
    margin: 5px 0px 5px 0px;
    min-width: 90%;
    border: none;
    min-height: 30px;
    border-radius: 5px;
    padding: 9px;
}
textarea{
    background-color: rgb(245, 245, 245);
    margin: 5px 0px 5px 0px;
    min-width: 90%;
    border: none;
    padding: 9px;
    border-radius: 5px;
    min-height: 90px;
    resize: none;
}

.btnClass{
    background-color: rgb(28, 138, 236);
    color: white;
    width: 200px;
    height: 40px;
    border: none;
}

.Expectations .row {
    display: grid;
    grid-template-columns: auto 350px auto;
    justify-content: center;

}


.Expectations .col {
    padding: 20px; /* Add padding to the content container (adjust as needed) */
    color: white;
    height: auto;
}
.Expectations .row .col article a{
    color: white;
    padding: 3px;
    border: 1px solid;
    margin-top: 20px;

}

footer .row {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    font-size: 25px;
    width: auto;
  }
  footer .row .col ul {
    padding: 0px 0px 0px 25px;
    list-style: none; /* Remove default bullets */
  }
  
  footer .row .col ul li {
    font-size: 20px;
    display: flex; /* Use flexbox for vertical alignment */
    align-items: center; /* Center the text vertically with the bullet */
    margin-bottom: 10px; /* Add spacing between list items */
  }
  
  footer .row .col ul li::before {
    content: "\2022"; /* Use a custom bullet character */
    color: rgb(28, 138, 236);
    font-size: 40px; /* Adjust the font size for the bullet */
    margin-right: 10px; /* Add spacing between bullet and text */
  }

/* Default styles for screens wider than 1200px */
@media (min-width: 1201px) {
    .container {
        margin: 0px 16.7% 0px 16.7%;
    }

    .bannerText {
        top: 150px;
        margin-left: 16.7%;
        font-size: 45px;
    }

    .btnTop {
        justify-content: end;
    }

    .nav {
        grid-template-columns: repeat(6, auto);
        margin: 0px 10% 0px 10%;
    }

    .menuOptionsBG .row {
        grid-template-columns: repeat(4, 250px);
        margin: 0 16.7% 0 16.7%;
    }

    .Services .row {
        grid-template-columns: repeat(3, 400px);
        margin: 0 16.7% 0 16.7%;
        min-height: 500px;
    }

    /* Footer styles for screens wider than 1200px */
    .footer .row {
        grid-template-columns: repeat(4, 300px);
        font-size: 25px;
    }

    .footer .col ul {
        padding: 0px 0px 0px 25px;
        list-style: none; 
    }

    .footer .col ul li {
        font-size: 20px;
        display: flex; 
        align-items: center;
        margin-bottom: 10px; 
    }

    .footer .col ul li::before {
        content: "\2022"; 
        color: rgb(28, 138, 236);
        font-size: 40px; 
        margin-right: 10px; 
    }
}

/* Default styles for screens wider than 1200px */
@media (min-width: 1201px) {
    .container {
        margin: 0px 16.7% 0px 16.7%;
    }

    .bannerText {
        top: 150px;
        margin-left: 16.7%;
        font-size: 45px;
    }

    .btnTop {
        justify-content: end;
    }

    .nav {
        grid-template-columns: repeat(6, auto);
        margin: 0px 10% 0px 10%;
    }

    .menuOptionsBG .row {
        grid-template-columns: repeat(4, 250px);
        margin: 0 16.7% 0 16.7%;
    }

    .Services .row {
        grid-template-columns: repeat(3, 400px);
        margin: 0 16.7% 0 16.7%;
        min-height: 500px;
    }

    /* Footer styles for screens wider than 1200px */
    .footer .row {
        grid-template-columns: repeat(4, 300px);
        font-size: 25px;
    }

    .footer .col ul {
        padding: 0px 0px 0px 25px;
        list-style: none; 
    }

    .footer .col ul li {
        font-size: 20px;
        display: flex; 
        align-items: center;
        margin-bottom: 10px; 
    }

    .footer .col ul li::before {
        content: "\2022"; 
        color: rgb(28, 138, 236);
        font-size: 40px; 
        margin-right: 10px; 
    }
}

/* Styles for screens up to 1200px wide (e.g., smaller desktops and laptops) */
@media (max-width: 1200px) {
    .container {
        margin: 0px 10% 0px 10%;
    }

    .bannerText {
        top: 150px;
        margin-left: 10%;
        font-size: 35px;
    }

    .btnTop {
        justify-content: end;
    }

    .nav {
        grid-template-columns: repeat(5, auto);
        margin: 0px 5% 0px 5%;
    }

    .menuOptionsBG .row {
        grid-template-columns: repeat(3, 250px);
        margin: 0 10% 0 10%;
    }

    .Services .row {
        grid-template-columns: repeat(2, 400px);
        margin: 0 10% 0 10%;
    }


    .footer .row {
        grid-template-columns: repeat(3, 300px);
        font-size: 25px;
    }
}

/* Styles for screens up to 992px wide (e.g., tablets and smaller desktops) */
@media (max-width: 992px) {
    .container {
        margin: 0px 5% 0px 5%;
    }

    .bannerText {
        top: 100px;
        margin-left: 5%;
        font-size: 25px;
    }

    .btnTop {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        grid-template-columns: repeat(3, auto);
        margin: 0px 5% 0px 5%;
    }

    .menuOptionsBG .row {
        grid-template-columns: repeat(2, 250px);
        margin: 0 5% 0 5%;
    }

    .Services .row {
        grid-template-columns: repeat(2, 400px);
        margin: 0 5% 0 5%;
    }

    /* Custom styles for the Expectations section on smaller screens */
    .Expectations .row {
        grid-template-columns: repeat(1, 100%);
        text-align: center;
    }

    .Expectations .col {
        padding: 20px;
    }

    /* Footer styles for screens up to 992px */
    .footer .row {
        grid-template-columns: repeat(2, 300px);
        font-size: 25px;
    }
}

/* Styles for screens up to 768px wide (e.g., smartphones in landscape mode) */
@media (max-width: 768px) {
    .container {
        margin: 0px 5% 0px 5%;
    }

    .bannerText {
        top: 50px;
        margin-left: 5%;
        font-size: 20px;
    }

    .btnTop {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        grid-template-columns: repeat(2, auto);
        margin: 0px 5% 0px 5%;
    }

    .menuOptionsBG .row {
        grid-template-columns: repeat(1, 250px);
        margin: 0 5% 0 5%;
    }

    .Services .row {
        grid-template-columns: repeat(1, 400px);
        margin: 0 5% 0 5%;
    }

    /* Custom styles for the Expectations section on smaller screens */
    .Expectations .row {
        grid-template-columns: repeat(1, 100%);
        text-align: center;
    }

    .Expectations .col {
        padding: 20px;
    }

    /* Footer styles for screens up to 768px */
    .footer .row {
        grid-template-columns: repeat(1, 300px);
        font-size: 20px;
    }
}

/* Additional styles for screens up to 414px wide (e.g., portrait mode on iPhone 7 Plus) */
@media (max-width: 414px) {
    .bannerText {
        top: 30px;
        margin-left: 5%;
        font-size: 18px;
    }

    .btnTop {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        grid-template-columns: repeat(1, auto);
        margin: 0px;
    }

    .menuOptionsBG .row {
        grid-template-columns: repeat(1, 100%);
        text-align: center;
    }

    .Services .row {
        grid-template-columns: repeat(1, 100%);
        margin: 0;
    }

    .Expectations .row {
        grid-template-columns: repeat(1, 100%);
        text-align: center;
    }

    .Expectations .col {
        padding: 20px;
    }

    .footer .row {
        grid-template-columns: repeat(1, 100%);
        font-size: 20px;
    }
}






  