.bannerText {
    background-image: url('./images/mainbanner.jpg');
    background-size: cover; 
    background-position: center;
    color: #fff;
    padding: 20px;
}
.bannerHeading {
    color: blue;
}
