/* CSS for the banner text section */
/* .bannerText {
    background-image: url('./images/mainbanner.jpg');
    color: #fff;
    padding: 20px;
} */



.banner{
    background-image: url(./images/banner.jpg);
}
.bannerHeading {
    color: blue;
}
.bannerBox{
    position: relative;
}
.bannerText{
    position: absolute;
    top: 100px;
    margin-left: 16.7%;
    font-size: 35px;
    
}
.mainBannerImage{
    height: auto;
    width: 100%;
}

/* CSS for button alignment */
/* .btnTop {
    text-align: right; Align the content to the right
    margin-right: 500px; Add some right margin for spacing
} */

/* .btnTop a {
    margin-left: 20px; Add left margin to separate buttons
} */

.container{
    margin: 0px 16.7% 0px 16.7%;
}

.btnTop{
    display: flex;
    justify-content: end;
    gap: 10px;
}

/* Style for the buttons (optional) */
.btnTop button {
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}
/* Styling for the "Patient Portal" button */
.PatientPortal button {
    background-color: grey;
    border: none;
    border-radius: 5px; /* Add rounded corners */
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

/* Styling for the "Dentist Referral" button */
.DentistReferal button {
    background-color: rgb(79, 161, 234) ;
    border: none;
    border-radius: 5px; /* Add rounded corners */
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}
.header{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.Number{
    text-align: right;
}
.headerTitle h1{
    color: rgb(79, 161, 234);
    font-size: 45px;
    margin: 10px 0px 0px 0px;
}

.headerTitle h3{
    color: rgb(79, 161, 234);
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}
.navBg{
    background-color: rgb(79, 161, 234);

}
.nav{
    display: grid;
    grid-template-columns: repeat(6,auto);
    margin: 0px 10% 0px 10%;
}
.nav li{
    padding: 10px;
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    color: white;
    text-align: center;
    list-style: none;
    border-right: 2px solid white;
}

.bannerHeading1{
    color:rgb(79, 161, 234) ;
    font-weight: lighter;
}
.bannerHeading2{
    font-weight: lighter;
}

.menuOptionsBG{
    background-color:rgb(28, 138, 236) ;
}
.menuOptionsBG .row{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    text-align: center;
    margin: 0 16.7% 0 16.7%;
    min-height: 90px;
    padding: 10px 0 0 0;
}
.menuOptionsBG .col{
    background-color: white;
    clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
    padding: 15px 0px 15px 0px;
}
.menuOptionsBG .col h4{
    margin: 0px;
    
}
.ServicesBG {
    background-image: url("./images/Services\ Background.jpg") ;
}
.Services .row{
    display: grid;
    grid-template-columns: repeat(3,  400px);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 16.7% 0 16.7%;
    min-height: 90px;
    padding: 10px 0 0 0;
    min-height: 500px;
    
}

.Services .row .col{
    background-color: white;
    border: 2px solid rgb(229, 232, 234);
    margin: 0 20px 0 20px;
    padding: 20px;
    height: 400px;
    
}
.pClass{
    min-height: 305px;
    margin: 0px;
}

input{
    background-color: rgb(245, 245, 245);
    margin: 5px 0px 5px 0px;
    min-width: 90%;
    border: none;
    min-height: 30px;
    border-radius: 5px;
    padding: 9px;
}
textarea{
    background-color: rgb(245, 245, 245);
    margin: 5px 0px 5px 0px;
    min-width: 90%;
    border: none;
    padding: 9px;
    border-radius: 5px;
    min-height: 90px;
    resize: none;
}

.btnClass{
    background-color: rgb(28, 138, 236);
    color: white;
    width: 200px;
    height: 40px; 
    border: none;  
}

.Expectations .row{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.Expectations .row .col{
    background-color: rgb(79, 161, 234);";
}